.startPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.startContent {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  text-align: center;
}

.settingsSection {
  margin-bottom: 20px;
}

.startBtn {
  margin-top: 40px;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #00bcd4; /* Ваш оригінальний колір */
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.startBtn:hover {
  background-color: #008c9e;
  transform: scale(1.05);
}