.gamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.tileContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  align-content: center;
  gap: 20px;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}


.tileItem {
  flex: 0 1 calc(33.333% - 20px);
  min-width: 120px;
  aspect-ratio: 1 / 1;
}

.tileContainer:has(.tileItem:nth-child(4):last-child) .tileItem,
.tileContainer:has(.tileItem:nth-child(5):last-child) .tileItem {
  flex: 0 1 calc(45% - 20px);
}


.tileContainer:has(.tileItem:nth-child(8):last-child) .tileItem {
  flex: 0 1 calc(25% - 20px);
}


.playerInfo {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #a0a0ba;
  background: rgba(255, 255, 255, 0.05);
  padding: 5px 15px;
  border-radius: 20px;
}

.playerInfo strong {
  color: #00bcd4;
}