.button-tile {
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  transition: transform 0.1s;
}

.button-tile:active {
  transform: scale(0.95);
}

.red { background-color: red; }
.green { background-color: green; }
.blue { background-color: blue; }
.yellow { background-color: yellow; }
