.start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start-btn {
  margin-top: 40px;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #00bcd4;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.start-btn:hover {
  background-color: #008c9e;
  transform: scale(1.05);
}
